config.ini
*.ini
*.log
*.bak
*.jpg
*.h5
*.hdf5
*.hdf
*.tif
*.tiff
*.xml
*.png
*.gif
*.bmp
*.csv
*.txt
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.pdf
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.tgz
*.tbz2
*.iso
*.dmg
*.exe
*.dll
*.qgz